/*FOOTAR----------------------------------------------------------------*/
#footar, #full-page-footar{
    background-color: var(--superDarkBlue);
}
#footer-box, #full-page-footer-box{
    margin: 0 auto;
}

#full-page-footar{
    position: relative;
}
#full-page-footer-box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.footarColumn{
    color: #F4F4F4;
    text-align: center;
    margin-top: 3rem;
}
.footarLinks{
    color: #7C7C7D;
}
.footarLinks:hover{
    text-decoration: none;
    color: #F4F4F4;
}
.footarText{
    color: #7C7C7D;
}
.footarColumnTitle{
    padding-bottom: 1rem;
}
.footarColumnTitle h5{
    font-weight: 600;
}

.footarBottom{
    margin-top: 1rem;
    padding-bottom: 3rem;
}
.footarBottomText{
    border-top: 1px solid #7C7C7D;
    color: white;
    padding-top: 1rem;
    font-weight: 600;
}