:root{
    /* --greenPoles: #053F0C;
    --backgroundColor: #F4F4F4; */
}

.wrapper{
    /* background-color: var(--backgroundColor); */
    /* background: linear-gradient(to bottom, var(--backgroundColor)15%, var(--darkBlue)100%); */
    /* margin: auto;
    width: 100%;
    height: auto;
    font-weight: 400; */
}

#full-page-wrapper{
    /* display: block;
    position: relative;
    height: 100%;
    overflow: hidden; */
}
.full-page-section{
    /* display: block;
    position: relative; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.navbar{
    /* position: fixed; */
    width: 100%;
    border-bottom: 1px solid #fff;
    opacity: 0.985;
    z-index: 5;
    background-color: #fff;
    top: 0;
    transition: 0.32s;
}
.navbar-toggler:focus{
    outline: none;
}
.nav-item{
    padding: 0 5px;

}
.nav-link{
    color: var(--darkGrey)!important;
    display: inline-block;
    position: relative;
    padding: auto;
    font-weight: 700;
}
.nav-link::before{
    content: '';
    position: absolute!important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--darkBlue);
    transition: 0.2s;
    transform: scaleX(0);
}
.nav-link:hover:before{
    transform: scaleX(1);
}
.nav-link:hover{
    color: var(--darkBlue)!important;
}